/* Общие стили */
html, body {
    height: 100%; /* Устанавливаем 100% высоты для html и body */
    margin: 0; /* Убираем отступы */
}

body {
    font-family: 'Open Sans', sans-serif; /* Используем шрифт Open Sans */
    background: #f4f4f4; /* Фоновый цвет страницы */
    color: #333; /* Цвет текста */
    box-sizing: border-box; /* Учитываем отступы и границы */
}

/* Контейнер для всей страницы */
.container {
    display: flex;
    flex-direction: column; /* Располагаем дочерние элементы в столбик */
    flex-grow: 1;
}

/* Шапка */
header {
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 2px 0;
    position: fixed; /* Фиксированное положение */
    width: 100%; /* Занимает всю ширину экрана */
    z-index: 1000;
}

.header-container {
    display: flex;
    justify-content: space-between; /* Логотип слева, меню справа */
    align-items: center; /* Центрируем по высоте */
    padding: 0 15px; /* Отступы слева и справа */
    flex-wrap: wrap; /* Позволяет переносить элементы */
}

/* Стили для логотипа */
.logo img {
    max-height: 80px; /* Устанавливаем максимальную высоту для логотипа */
    vertical-align: middle; /* Центрируем логотип по вертикали */
}


header nav {
    flex-grow: 1; /* Заставляем навигацию занимать оставшееся пространство */
    text-align: right; /* Выравниваем меню вправо */
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Горизонтальное расположение */
    justify-content: flex-end; /* Выравниваем элементы меню вправо */
}

header nav ul li {
    margin-left: 20px; /* Отступы между пунктами меню */
}

header nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: 500;
    padding: 5px 10px;
    display: block;
    transition: color 0.3s, background 0.3s;
}

header nav ul li a:hover {
    color: #007bff;
    background: #f4f4f4;
}

.menu-button {
    display: none; /* Скрываем кнопку меню по умолчанию */
    background-color: #333; /* Измените цвет кнопки на светло-серый */
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

/* Слайдер */
.hero {
    height: 600px; /* Устанавливаем высоту на 600px */
    padding-top: 0; /* Убираем отступ для верхней части слайдера */
    text-align: center; /* Центрируем текст по горизонтали */
    background-color: #e9ecef; /* Фоновый цвет слайдера */
    display: flex; /* Используем Flexbox */
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
}

.slider {
    position: relative; /* Позволяет использовать абсолютные позиции для слайдов */
    overflow: hidden; /* Скрываем все, что выходит за пределы */
    height: 600px; /* Устанавливаем высоту слайдера на 600px */
    width: 100%; /* Устанавливаем ширину слайдера на 100% */
}

.slide {
    position: absolute; /* Позиционируем слайды */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover; /* Обеспечиваем, чтобы изображение полностью заполняло контейнер */
    background-position: center; /* Центрируем изображение */
    display: flex; /* Используем Flexbox для центровки контента */
    justify-content: flex-start; /* Центрируем по горизонтали влево */
    align-items: center; /* Центрируем по вертикали */
    color: white; /* Цвет текста на слайде */
    opacity: 0; /* Скрываем слайд по умолчанию */
    transition: opacity 0.5s ease; /* Плавный переход для изменения прозрачности */
}

.slider-arrow {
    position: absolute;
    top: 50%; /* Позиционируем стрелки по вертикали по центру */
    transform: translateY(-50%); /* Центрируем по вертикали */
    font-size: 30px; /* Размер стрелки */
    color: white; /* Цвет стрелки */
    cursor: pointer; /* Указатель для стрелок */
    z-index: 1000; /* Устанавливаем выше других элементов */
}

.left-arrow {
    left: 20px; /* Отступ слева */
}

.right-arrow {
    right: 20px; /* Отступ справа */
}

/* Для активного слайда */
.slide.active {
    opacity: 1; /* Показываем активный слайд */
}

/* Стили для секции услуг */
#services {
    padding: 40px 0; /* Отступы сверху и снизу */
    background-color: #f8f9fa; /* Фоновый цвет секции */
}

.services-container {
    display: flex; /* Горизонтальное расположение */
    flex-wrap: wrap; /* Перенос на новую строку, если не помещается */
    justify-content: space-between; /* Распределение услуг по ширине */
    margin: 20px 0; /* Отступы сверху и снизу */
}

.service-item {
    flex: 1 1 calc(18% - 20px); /* Устанавливаем базовую ширину для услуги */
    margin: 10px; /* Отступ между услугами */
    background: #fff; /* Цвет фона услуги */
    border-radius: 5px; /* Закругленные углы */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень */
    text-align: center; /* Центрируем текст */
    padding: 10px; /* Уменьшил отступ внутри блока */
    transition: transform 0.3s; /* Плавный эффект при наведении */
}

.service-item:hover {
    transform: translateY(-5px); /* Эффект при наведении */
}

.service-item img {
    width: 100%; /* Устанавливаем ширину 100% относительно родительского контейнера */
    height: 200px; /* Устанавливаем фиксированную высоту */
    object-fit: cover; /* Обеспечиваем сохранение пропорций изображения */
    border-radius: 5px; /* Закругляем углы изображения */
}

.service-item h3 {
    margin: 10px 0; /* Отступы для заголовка услуги */
    font-size: 1.2em; /* Размер шрифта заголовка уменьшен */
}

.service-item p {
    color: #666; /* Цвет описания услуги */
    font-size: 0.9em; /* Размер шрифта описания уменьшен */
}

/* Иконки с данными */
#data-icons {
    padding: 40px 0; /* Отступы сверху и снизу */
}

.icons-container {
    display: flex; /* Горизонтальное расположение */
    justify-content: space-around; /* Распределение иконок по горизонтали */
    margin: 20px 0; /* Отступы сверху и снизу */
}

.icon-item {
    text-align: center; /* Центрируем текст внутри иконок */
    flex: 1; /* Позволяем иконкам занимать равное пространство */
}

.icon-item i {
    font-size: 3em;
    color: #007bff; /* Цвет иконок */
}

.icon-item h3 {
    margin: 10px 0;
    color: #333; /* Цвет заголовка */
}

.icon-item p {
    color: #666; /* Цвет описания */
}

/* Подвал */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0; /* Уменьшил отступы для компактности */
    position: relative; /* Измените с fixed на relative */
    margin-top: auto; /* Устанавливаем отступ сверху, чтобы подвал оставался внизу */
    width: 100%; /* Занимает всю ширину экрана */
    z-index: 1000; /* Чтобы подвал был выше других элементов */
}

/* Иконки в подвале */
.footer-icons {
    display: flex;
    justify-content: center;
    gap: 15px; /* Отступы между иконками */
}

.footer-icons a {
    color: white; /* Цвет иконок */
    font-size: 1.5em; /* Размер иконок */
}

footer p {
    font-size: 0.7em; /* Уменьшаем размер шрифта */
    margin: 0; /* Убираем отступы */
}


/* Стили для всплывающего окна */
.popup-menu {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; /* Ширина 90% */
    max-width: 600px; /* Ограничение по ширине */
    max-height: 80%; /* Максимальная высота 80% */
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    z-index: 1002;
    padding: 20px;
    border-radius: 10px;
    text-align: center; /* Центрируем текст внутри окна */
    overflow-y: auto; /* Прокрутка по вертикали при необходимости */
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.popup-content h2 {
    margin-top: 0;
}

.popup-menu.active {
    display: block;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.popup-menu .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #333;
    font-size: 20px;
    cursor: pointer;
}

.popup-menu .close-button:hover {
    color: #007bff;
}

/* Убираем полосы прокрутки для всплывающего окна */
.popup-menu::-webkit-scrollbar {
    display: none;
}

.popup-menu {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.popup-content form {
    display: flex;
    flex-direction: column; /* Вертикальное расположение полей формы */
}

.popup-content label {
    margin: 10px 0 5px; /* Отступы для меток */
}

.popup-content input, .popup-content textarea {
    padding: 10px; /* Отступы внутри полей */
    border: 1px solid #ccc; /* Рамка вокруг полей */
    border-radius: 5px; /* Закругленные углы */
    margin-bottom: 15px; /* Отступы между полями */
}

.popup-content .cta-button {
    background-color: #007bff; /* Цвет кнопки */
    color: white; /* Цвет текста кнопки */
    border: none; /* Убираем рамку */
    padding: 10px 20px; /* Отступы внутри кнопки */
    border-radius: 5px; /* Закругляем углы */
    cursor: pointer; /* Указатель для кнопки */
}

.popup-content .cta-button:hover {
    background-color: #0056b3; /* Цвет кнопки при наведении */
}


/* Стили для галереи */
.gallery {
    display: flex;
    flex-wrap: wrap; /* Позволяет переносить элементы на новую строку */
    justify-content: space-between; /* Распределяем пространство между элементами */
    margin: -5px; /* Убираем отступы между элементами */
}

.gallery-item {
    position: relative;
    overflow: hidden;
    width: calc(50% - 10px); /* Делаем ширину 50% для двух элементов в ряду */
    margin: 5px; /* Отступы между элементами */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.overlay img {
    display: block;
    width: 100%; /* Устанавливаем ширину 100% относительно родительского контейнера */
    height: 200px; /* Фиксированная высота для всех изображений */
    object-fit: cover; /* Обеспечиваем сохранение пропорций изображения */
    transition: filter 0.3s;
}

.overlay:hover img {
    filter: brightness(0.5);
}

.overlay {
    position: relative; /* Устанавливаем относительное позиционирование для контейнера */
}

.text {
    position: absolute; /* Устанавливаем абсолютное позиционирование для текста */
    top: 0; /* Устанавливаем верхнюю границу на 0 */
    left: 0; /* Устанавливаем левую границу на 0 */
    width: 100%; /* Занимаем всю ширину изображения */
    height: 100%; /* Занимаем всю высоту изображения */
    color: white;
    font-size: 1rem; /* Размер шрифта текста */
    text-align: center; /* Выравниваем текст по центру */
    display: flex; /* Используем flexbox для центрирования текста */
    align-items: center; /* Центрируем по вертикали */
    justify-content: center; /* Центрируем по горизонтали */
    background: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон для читаемости текста */
    opacity: 0; /* Изначально скрываем текст */
    transition: opacity 0.3s; /* Плавный переход для появления текста */
    padding: 20px; /* Отступы вокруг текста */
    box-sizing: border-box; /* Учитываем отступы в ширине и высоте */
}

.overlay:hover .text {
    opacity: 1; /* Показываем текст при наведении */
}

/* Адаптивность */
@media (max-width: 768px) {
    .header-container {
        flex-direction: row; /* Изменяем на горизонтальное расположение */
        justify-content: space-between; /* Выравниваем логотип и кнопку по краям */
        align-items: center; /* Центрируем по вертикали */
    }

    .logo {
        margin-bottom: 0; /* Убираем отступ снизу для логотипа */
    }

    .menu-button {
        display: inline-block; /* Отображаем кнопку меню на мобильных устройствах */
        margin-left: auto; /* Выравниваем кнопку вправо */
        margin-top: 0; /* Убираем отступ сверху */
        z-index: 1001; /* Увеличиваем z-index кнопки */
    }

    header nav {
        display: none; /* Скрываем навигацию по умолчанию */
    }

    header nav ul {
        flex-direction: column; /* Вертикальное расположение меню на мобильных */
        position: absolute;
        top: 50px; /* Отступ сверху для меню */
        right: 0;
        background: #fff;
        width: 100%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    header nav ul li {
        margin: 0; /* Убираем отступы между пунктами меню */
    }

    header nav ul li a {
        padding: 15px; /* Увеличиваем отступы в пунктах меню */
        border-bottom: 1px solid #ddd; /* Разделяем пункты меню */
    }

    .slider {
        height: 400px; /* Уменьшаем высоту слайдера для мобильных */
    }

    .hero h1 {
        font-size: 1.8em; /* Уменьшаем размер заголовка */
    }

    .hero p {
        font-size: 1em; /* Уменьшаем размер текста */
    }

    .service-item {
        flex: 1 1 100%; /* Каждая услуга занимает всю ширину */
        margin: 10px 0; /* Убираем отступы между услугами */
    }

    .gallery-item {
        width: calc(100% - 10px); /* Каждый элемент галереи занимает всю ширину */
        margin: 5px 0; /* Убираем боковые отступы */
    }

    .text {
        padding: 10px; /* Уменьшаем отступы вокруг текста для мобильных */
        font-size: 0.9rem; /* Уменьшаем размер шрифта текста */
    }

    .icon-item {
        flex: 1 1 100%; /* Каждая иконка занимает всю ширину на мобильных */
        margin-bottom: 15px; /* Отступ снизу для иконок */
    }
}
